spring:
  application:
    name: web_crafter_java
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/web_crafter
    username: root
    password:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: gbjy8347@gmail.com
    password: kouiwmojuknqerwu
    properties:
      mail:
        smtp: 
          auth: true
          starttls:
            enable: true        
        
server:
  port: 8080
#  servlet:
#    context-path: /test
