<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web_crafter_java.dao.ProjectDao">

    <insert id="insertUserWeb" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO userWeb (userId, title, regDate, updateDate)
        VALUES (#{userId}, #{title}, NOW(), NOW())
    </insert>

    <insert id="insertUserWebPage">
        INSERT INTO userWeb_pages (
            webId, 
            pageName, 
            layoutData, 
            styleData, 
            logicData, 
            regDate, 
            updateDate
        )
        VALUES (
            #{webId}, 
            'index', 
            '{}', '{}', 
            '{}', 
            NOW(), 
            NOW()
        )
    </insert>

    <insert id="insertProjectMember">
        INSERT INTO userWeb_member (webId, userId, role, regDate)
        VALUES (#{webId}, #{userId}, #{role}, NOW())
    </insert>

</mapper>